[defaults]
inventory = inventory
host_key_checking = False
roles_path = roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
action_plugins = plugins/action:~/.ansible/plugins/action:/usr/share/ansible/plugins/action
library = plugins/modules:~/.ansible/plugins/modules:/usr/share/ansible/plugins/modules
stdout_callback = default
verbosity = 0

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[privilege_escalation]
become = False
