================================================================================
FTL Grading Report
================================================================================

Lab:      {{ lab_id | default('Unknown Lab') }}
Date:     {{ ansible_date_time.date }} {{ ansible_date_time.time }} {{ ansible_date_time.tz }}
Student:  {{ student_name }}
GUID:     {{ guid }}

================================================================================
Results
================================================================================

