[defaults]
inventory = inventory
host_key_checking = False
retry_files_enabled = False
roles_path = ../../roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
action_plugins = ../../plugins/action:~/.ansible/plugins/action:/usr/share/ansible/plugins/action
library = ../../plugins/modules:~/.ansible/plugins/modules:/usr/share/ansible/plugins/modules

[ssh_connection]
pipelining = True
